@import "primary.css";

body {
  min-height: 100vh;
}

main {
  text-align: center;
  margin-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-weight: bold;
  font-size: 4rem;
  animation-duration: 3s;
  animation-name: fade;
  animation-fill-mode: forwards;
}

h1 + p {
  font-size: 1.4rem;
  margin: 1rem 0;
}


@keyframes fade {
  from {
    color: white;
  }

  70% {
    color: black;
  }

  80% {
    color: #101010;
  }

  85% {
    color: #202020;
  }

  to {
    color: #303030;
    text-shadow: white 1px 0 10px;
  }
}

@media screen and (max-width: 376px) {
  main {
    margin-top: 7%;
  }
  body {
    background-size: contain;
  }
}

@media screen and (max-width: 320px){
  nav {
    padding: 1em;
  }
}