:root {
  --primary-color: #0097B2;
  --primary-color-01: rgba(0, 151, 178, 0.1);
  --red: rgb(208 57 62);
  --green: rgb(60, 160, 100);
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
}

/* NAVBAR */
nav {
  background-color: rgba(0, 151, 178, 0.1);
  display: flex;
  align-items: center;
  padding: 0.5em 2em;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

nav a:first-child {
  margin-right: auto;

}

nav a {
  text-decoration: initial;
  color: black;
  font-size: 1rem;
}

a#register {
  margin-left: 10px;
}

a#login:hover {
  color: var(--primary-color);
}

/* Form components */

input, textarea {
  padding: 0.5rem;
  border: 1px solid black;
  font-size: 0.9em;
  border-radius: 0.5em;
  font-family: inherit;
}

textarea {
  resize: none;
}

input[type="date"], input[type="datetime-local"] {
  font-family: monospace;
}

input:focus-visible, textarea:focus-visible {
  outline: none;
  border-color: var(--primary-color);
}

input[type="submit"]:hover {
  cursor: pointer;
}

/* Classes */

.button, input[type="submit"] {
  display: inline-block;
  background-color: white;
  color: var(--primary-color);
  padding: 0.5em;
  border: 1px solid hsl(0 0% 30%);
  border-radius: 0.5em;
}

.button:hover, input[type="submit"]:hover {
  border-color: var(--primary-color);
}

.button:active, input[type="submit"]:active {
  background-color: var(--primary-color);
  color: white;
}

a.button {
  text-decoration: none;
}

ul#errors {
  list-style-type: disc;
  list-style-position: inside;
}

ul#errors li {
  font-size: 0.8rem;
  height: 0.8rem;
  color: var(--red);
}

ul#errors li:not(:last-child) {
  margin-bottom: 5px;
}