:root {
  --primary-color: #19A7CE;
  --primary-color-01: rgba(175, 211, 226, 0.5);
  --primary-color-bold: #146C94;
  --primary-color-08: rgba(0, 151, 178, 0.8);
  --background: #F6F1F1;
  --red: #ED2B2A;
  --green: rgb(60, 160, 100);
  --selected: #eee;
  --list-selected: #ccc;
}

[hidden] {
  display: none !important;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, sans-serif;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

/* NAVBAR */
nav {
  background-color: var(--primary-color-01);
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em 2em;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
}

nav > :first-child {
  margin-right: auto;
}

a.button.register {
  background-color: var(--primary-color);
  color: white;
}


details {
  position: relative;
  cursor: pointer;
}

details[open] summary::before {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  content: " ";
  background: transparent;
  cursor: default;
}

summary {
  display: block;
}

details .menu {
  background-color: white;
  width: 150%;
  padding: 1em 0;
  border: 1px solid #d0d7de;
  border-radius: 0.5em;
  position: absolute;
  top: 130%;
  right: 0;
  cursor: default;
}

.menu li > * {
  display: block;
  width: 100%;
  padding: 0.5em;
  color: black;
  cursor: pointer;
}

.menu li:hover {
  color: white;
  background-color: var(--selected);
}

/* Form components */

input,
textarea,
select {
  padding: 0.5rem;
  border: 1px solid black;
  font-size: 1rem;
  border-radius: 0.5em;
  font-family: inherit;
}

textarea {
  resize: none;
}

input[type="date"],
input[type="datetime-local"] {
  font-family: monospace;
}

input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: none;
  border-color: var(--primary-color);
}

::-webkit-datetime-edit-fields-wrapper,
::-webkit-calendar-picker-indicator {
  padding: 0;
}

form div.component {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

/* Classes */

.button,
input[type="submit"] {
  display: inline-block;
  background-color: white;
  color: var(--primary-color);
  padding: 0.5em;
  border: 1px solid var(--primary-color);
  border-radius: 0.5em;
}

.button:hover,
input[type="submit"]:hover {
  box-shadow: 2px 2px 1px #146C94;
  cursor: pointer;
}

.button:active,
input[type="submit"]:active {
  transform: translateX(2px) translateY(2px);
  box-shadow: none;
}

a.button {
  text-decoration: none;
}

.errors {
  list-style-type: disc;
  list-style-position: inside;
}

.errors li {
  font-size: 0.8rem;
  height: 0.8rem;
  color: var(--red);
}

.errors li:not(:last-child) {
  margin-bottom: 5px;
}