

body {
  background-color: hsl(210deg 7.69% 94.9%);
}

h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  text-align: right;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 1rem;
  min-width: 330px;
  width: fit-content;
  padding: 2rem;
  margin: 5% auto 0 auto;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 1px 1px 5px #404040;
}


/* Form */

form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin: 2rem 0;
  width: 100%;
}

form > div {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

form + p {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.8rem;
}

input[type="submit"] {
  align-self: center;
  width: 100%;
  font-size: 1rem;
  margin-top: 1rem;
}