<!DOCTYPE html>
<html th:replace="~{settings_layout :: layout(~{::title}, ~{::main})}" lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Settings</title>
  </head>
  <body>
    <main>
      <h1>Change password</h1>
      <form action="">
        <div class="component">
          <label for="currentPassword">Current password</label>
          <input type="password" name="currentPassword" id="currentPassword" required minlength="8">
        </div>
        <div class="component">
          <label for="newPassword">New password</label>
          <input type="password" name="newPassword" id="newPassword" required minlength="8">
        </div>
        <div class="component">
          <label for="confirmPassword">Confirm password</label>
          <input type="password" name="confirmPassword" id="confirmPassword" required minlength="8">
        </div>
        <input type="submit" value="Change your password">
      </form>
    </main>
  </body>
</html>