<!DOCTYPE html>
<html th:replace="~{settings_layout :: layout(~{::title}, ~{::main})}" lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <title>Settings</title>
  </head>
  <body>
    <main>
      <h1>Change password</h1>
      <form th:action="@{/settings/password}" th:object="${changePassword}" method="post">
        <div class="component">
          <label for="currentPassword">Current password</label>
          <input type="password" th:field="*{currentPassword}" id="currentPassword" required minlength="8">
        </div>
        <div class="component">
          <label for="newPassword">New password</label>
          <input type="password" th:field="*{newPassword}" id="newPassword" required minlength="8">
        </div>
        <div class="component">
          <label for="confirmPassword">Confirm password</label>
          <input type="password" th:field="*{confirmPassword}" id="confirmPassword" required minlength="8">
        </div>
        <input type="submit" value="Change your password" class="component">
        <ul th:if="${#fields.hasErrors('*')}" class="errors">
          <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
        </ul>
        <p th:if="${not #fields.hasErrors('*')}" th:text="${message}"></p>
      </form>
    </main>
  </body>
</html>