<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{base :: common_head(_,~{::link})}">
    <link rel="stylesheet" th:href="@{/css/index.css}">
  </head>
  <body>
    <nav th:fragment="navbar">
      <a th:href="@{/}"><img src="/images/logo.png" alt="todo logo"/></a>
      <th:block th:if="${#authorization.expression('isAnonymous()')}">
        <a th:href="@{/login}" class="login button">Login</a>
        <a th:href="@{/register}" class="register button">Start for free</a>
      </th:block>
      <details th:if="${#authorization.expression('hasRole(''ROLE_USER'')')}">
        <summary>
          <span th:text="${#authentication.name}"></span>
          <img src="/images/icons/arrow_down.svg" alt="" width="16">
        </summary>
        <ul class="menu">
          <li><a th:href="@{/settings}">Settings</a></li>
          <li class="logout">
            <span>Logout</span>
            <form th:action="@{/logout}" method="post" class="logout" hidden></form>
          </li>
        </ul>
      </details>
    </nav>
    <main>
      <h1>Organize your tasks</h1>
      <p>
        Organize your life easier -- let's try our to-do app. <br>
      </p>
      <a th:href="@{/register}" class="register button">Get started</a>
      <img src="/images/checklist.png" alt="a checklist"
           sizes="(max-width: 320px) 320px, (max-width: 426px) 350px, 782px"
           srcset="/images/checklist.png 782w, /images/checklist350w.png 350w">
    </main>
  </body>
</html>