<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{base :: common_head(~{::title},~{::link})}">
    <meta charset="UTF-8">
    <title>Todo | Login</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">
  </head>
  <body>
    <nav th:replace="~{index :: navbar}"></nav>
    <main>
      <h1>Login</h1>
      <form th:action="@{/login}" method="post">
        <div>
          <label for="email">Email</label>
          <input type="email" name="email" id="email">
        </div>
        <div>
          <label for="password">Password</label>
          <input type="password" name="password" id="password">
        </div>

        <input type="submit" value="Login">

        <ul id="error" th:if="${param.error}">
          <li>Invalid email or password</li>
        </ul>
      </form>

      <p>Don't have an account? <a th:href="@{/register}">Register</a></p>
    </main>
  </body>
</html>