<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{base :: common_head(~{::title},~{::link})}">
    <title>Todo | Register</title>
    <link rel="stylesheet" th:href="@{/css/register.css}">
  </head>
  <body>

    <nav th:replace="~{index :: navbar}"></nav>

    <main>

        <h1>Create an account</h1>
        <form th:action="@{/register}" method="post" th:object="${form}">
          <div class="component">
            <label for="email">Email</label>
            <input type="email" th:field="*{email}" id="email" required autofocus>
          </div>
          <div class="component">
            <label for="username">Username</label>
            <input type="text" th:field="*{username}" id="username" required>
          </div>
          <div class="component">
            <label for="password">Password</label>
            <input type="password" th:field="*{password}" id="password" required minlength="8" maxlength="255">
          </div>
          <input type="submit" value="Register" class="button">

          <ul th:if="${#fields.hasErrors('*')}" class="errors">
            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
          </ul>
        </form>

        <p>Already have an account? <a th:href="@{/login}">Login</a></p>

    </main>

  </body>
</html>