<!DOCTYPE html>
<html th:fragment="layout(title, main_content)" lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <link rel="stylesheet" th:href="@{/css/reset-css.css}">
    <link rel="stylesheet" th:href="@{/css/primary.css}">
    <link rel="stylesheet" th:href="@{/css/settings.css}">
    <title th:replace="${title}"></title>
    <script src="/scripts/jquery-3.6.4.js"></script>
  </head>
  <body>
    <nav th:replace="~{index :: navbar}"></nav>
    <div id="settings">
      <aside>
        <a th:href="@{/settings/password}">Password</a>
      </aside>
      <main th:replace="${main_content}"></main>
    </div>
    <script src="/scripts/logout.js"></script>
    <script src="/scripts/settings.js"></script>
  </body>
</html>